@media (min-width: 414px) {
  body {
    padding-top: 74px;
    font-size: 18px;
  }
  .in{
    padding: 0 20px;
  }
  #site-header .wrapper{
    padding: 15px 20px;
  }
  .logo a{
    width: 235px;
    height: 44px;
  }
  .color-bg {
    min-width: 355px;
  }
  .homepage-slider .color-bg{
    height: 162px;
  }
  .color-bg header{
    width: 60%;
    font-size: 23px;
    line-height: 27px;
  }
  .color-bg-desc{
    width: 355px;
    font-size: 18px;
    line-height: 22px;
  }
  .homepage-slider{
    padding-left: 20px;
  }
  .btn-phone{
    width: 33px;
    height: 33px;
  }
  .chessmate .header{
    font-size: 21px;
    line-height: 26px;
  }
  .btn{
    font-size: 15px;
    line-height: 20px;
    padding: 10px 13px;
  }
  .consul-block__head:before, .home-page_bot__contact-block .consul-block__head:before{
    width: 172px;
    height: 192px;
  }
  .consul-block__head{
    min-height: 172px;
    padding: 18px 10px 19px 178px;
  }
  .home-page_bot__contact-block .consul-block__head{
    min-height: 175px;
    padding: 20px 10px 20px 178px;
  }
  .consul-block__head .consul-block__title, .home-page_bot__contact-block .consul-block__title{
    font-size: 10px;
    padding: 5px 14px;
  }
  .consul-block__head .consul-block__name, .home-page_bot__contact-block .consul-block__name{
    font-size: 23px;
  }
  .consul-block__head .consul-block__desc, .home-page_bot__contact-block .consul-block__desc{
    font-size: 18px;
    line-height: 20px;
  }
  .consul-block .footer .header{
    font-size: 23px;
  }
  .consul-block .footer .desc{
    font-size: 18px;
  }
  .consul-block .footer{
    padding: 20px 25px;
  }
  .sotrud_triple_block .pic img{
    max-width: 70%;
  }
  .sotrud_triple_block .head{
    font-size: 22px;
    line-height: 25px;
  }
  .sotrud_triple_block .desc{
    font-size: 18px;
    line-height: 25px;
  }
  .home-page_steps h3{
    font-size: 25px;
    margin-bottom: 20px;
  }
  .steps.vertical .head{
    font-size: 22px;
    line-height: 27px;
  }
  .steps.vertical .desc{
    font-size: 18px;
    line-height: 25px;
  }
  .counts .number{
    font-size: 120px;
  }
  .sotrud h3{
    font-size: 25px;
    line-height: 25px;
  }
  .sotrud p{
    font-size: 21px;
    line-height: 25px;
  }
  #site-header .thinscreen.active .social-links li .ico-wh{
    width: 33px;
    height: 33px;
  }
  #site-header .thinscreen.active .social-links li .ico-vb{
    width: 33px;
    height: 33px;
  }
  .consul_form .head{
    font-size: 22px;
    line-height: 26px;
  }
  .consul_form input[type=text], .consul_form input[type=tel], .consul_form input[type=email]{
    font-size: 18px;
    padding: 20px 15px;
  }
  input[type=text], input[type=tel], input[type=email], textarea{
    font-size: 18px;
    padding: 20px 15px;
  }
  #site-footer .botlogo{
    width: 138px;
    height: 86px;
  }
  #site-footer .line2 .copy{
    font-size: 18px;
  }
  #site-footer .line2 .foot_menu_wrap .foot_menu a{
    font-size: 19px;
  }
  #site-footer .foot_contact{
    font-size: 18px;
  }
  #site-footer .foot_contact .ico-mail{
    margin: 12px 0 7px;
  }
  #site-footer .line2 .developer a{
    width: 170px;
    height: 40px;
  }
  #site-footer .line2 .developer a:before{
    width: 170px;
    height: 40px;
    background-size: contain;
  }
  .page-template-service1 .innerpage-slider .color-bg header, .page-template-service2 .innerpage-slider .color-bg header, .page-template-service3 .innerpage-slider .color-bg header{
    font-size: 29px;
    line-height: 41px;
  }
  .video_slider .slide{
    height: 122px;
  }
  .play_btn{
    width: 236px;
    height: 71px;
  }
  .play_btn a img{
    width: 215px;
    height: 46px;
  }
  .service-page_howto .left img{
    width: 100%;
  }
  .service-page_howto{
    padding-left: 20px;
    padding-right: 20px;
  }
  .service-page_howto h3{
    font-size: 25px;
    line-height: 25px;
  }
  .service-page_howto .desc{
    font-size: 18px;
    line-height: 26px;
  }
  .service-vars h3{
    font-size: 25px;
    line-height: 25px;
  }
  .service-vars .hint{
    font-size: 21px;
    line-height: 25px;
  }
  .blocks .img img{
    width: 70%;
  }
  .blocks .head{
    font-size: 22px;
    line-height: 25px;
  }
  .blocks .desc{
    font-size: 16px;
  }
  .color-bg.hb-inner header{
    font-size: 29px;
    line-height: 41px;
    width: 100%;
  }
  .color-bg.hb-inner p{
    font-size: 18px;
    line-height: 25px;
  }
  .mainsteps h3{
    font-size: 25px;
    line-height: 25px;
  }
  .mainsteps .hint{
    font-size: 21px;
    line-height: 26px;
  }
  .blocks-w-month > div .num{
    width: 71px;
    height: 71px;
    border: 16px solid #dc325a;
    font-size: 21px;
  }
  .blocks-w-month > div .head{
    font-size: 22px;
    line-height: 27px;
  }
  .blocks-w-month > div .desc{
    font-size: 18px;
    line-height: 23px;
  }
  .blocks-w-month > div .hint{
    font-size: 11px;
  }
  .blocks-w-month > div .count{
    font-size: 19px;
  }
  .ser_get_quest{
    width: 90%;
  }
  .content h1{
    font-size: 29px;
  }
  .blogs-item__heading, h2.entry-title{
    font-size: 25px;
    line-height: 32px;
  }
  .blogs_item__desc *{
    font-size: 18px;
    line-height: 26px;
  }
  .yellow_hint{
    font-size: 12px;
  }
  .ra_item__heading a{
    font-size: 20px;
    line-height: 28px;
  }
  .entry-content h6{
    font-size: 21px;
    line-height: 26px;
  }
  .entry-content h4{
    font-size: 25px;
    line-height: 25px;
  }
  .post-form .heading{
    font-size: 22px;
  }
  .post-form .desc{
    font-size: 18px;
  }
  .post-form .tel-link{
    font-size: 21px;
  }
  .pld-like-dislike-wrap .heading{
    font-size: 21px;
  }
  .pld-common-wrap{
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 25px;
  }
  .breadcrumbs ul li{
    font-size: 14px;
    line-height: 19px;
  }
  .breadcrumbs ul li a{
    font-size: 14px;
    line-height: 19px;
  }
  .breadcrumbs ul li:after{
    top: 6px;
  }

  .site-header_menu{
    top: 74px;
    padding: 15px;
    text-align: center;
    .ul_menu_item{
      margin-bottom: 20px;
      display: block;
      margin-right: 0;
    }
  }

}/*---*/
