/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* html .clearfix {
  zoom: 1;
}

/* IE6 */
*:first-child + html .clearfix {
  zoom: 1;
}

/* IE7 */

/**********************************************************************************************************************/
/**********************************************************************************************************************/
/**********************************************************************************************************************/
/**********************************************************************************************************************/
@font-face {
  font-family: Inter-Light;
  src: url(../../../../uploads/fonts/Inter-Light.eot);
  src: url(../../../../uploads/fonts/Inter-Light.eot?#iefix) format("embedded-opentype"), url(../../../../uploads/fonts/Inter-Light.woff) format("woff"), url(../../../../uploads/fonts/Inter-Light.ttf) format("truetype"), url(../../../../uploads/fonts/Inter-Light.svg#Inter-Light) format("svg");
  font-weight: 300;
  font-style: normal
}

@font-face {
  font-family: Inter-SemiBold;
  src: url(../../../../uploads/fonts/Inter-SemiBold.eot);
  src: url(../../../../uploads/fonts/Inter-SemiBold.eot?#iefix) format("embedded-opentype"), url(../../../../uploads/fonts/Inter-SemiBold.woff) format("woff"), url(../../../../uploads/fonts/Inter-SemiBold.ttf) format("truetype"), url(../../../../uploads/fonts/Inter-SemiBold.svg#Inter-SemiBold) format("svg");
  font-weight: 500;
  font-style: normal
}

@font-face {
  font-family: Inter-Black;
  src: url(../../../../uploads/fonts/Inter-Black.eot);
  src: url(../../../../uploads/fonts/Inter-Black.eot?#iefix) format("embedded-opentype"), url(../../../../uploads/fonts/Inter-Black.woff) format("woff"), url(../../../../uploads/fonts/Inter-Black.ttf) format("truetype"), url(../../../../uploads/fonts/Inter-Black.svg#Inter-Black) format("svg");
  font-weight: 700;
  font-style: normal
}

@font-face {
  font-family: Inter;
  src: url(../../../../uploads/fonts/Inter-Regular.eot);
  src: url(../../../../uploads/fonts/Inter-Regular.eot?#iefix) format("embedded-opentype"), url(../../../../uploads/fonts/Inter-Regular.woff) format("woff"), url(../../../../uploads/fonts/Inter-Regular.ttf) format("truetype"), url(../../../../uploads/fonts/Inter-Regular.svg#Inter-Regular) format("svg");
  font-weight: 400;
  font-style: normal
}

a:focus, a:active, input[type=submit] {
  outline: none;
}

.contact-block .b3 .ico-tel {
  line-height: 20px;
}

$blue: #16A2E5;
$blue-hover: #16adf2;
$pink: #dc325a;
$rubik: 'Inter', sans-serif;
$rubik-light: 'Inter-Light', sans-serif;
$rubik-medium: 'Inter-SemiBold', sans-serif;
$rubik-bold: 'Inter-Black', sans-serif;
$black: #231f20;

.pseudo {
  content: '';
  display: block;
  position: absolute;
}

@mixin pseudo-image($image, $w, $h, $left, $top) {
  @extend .pseudo;
  width: $w+px;
  height: $h+px;
  background-image: url($image);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: $w+px $h+px;
  left: $left+px;
  top: $top+px;
}

.skip-link.screen-reader-text {
  display: none;
}

body {
  // background: url('../images/temp.jpg') center top no-repeat;
  color: #414042;
  min-width: 320px;
}

h1, h2, h3, h4, h5, h6, .head, .header {
  color: $black;
}

* {
  box-sizing: border-box;
  font-family: 'Tahoma', sans-serif;
  font-size: 1em;
}

.in {
  max-width: 1600px;
  padding: 0 10px;
  margin: 0 auto;
  position: relative;
}

.in2 {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  color: $pink;
  font-family: inherit;
  text-decoration: none;
  border-bottom: 1px solid rgba($pink, 0.4);
  &:hover {
    border-bottom: 1px solid rgba($pink, 0.2);
  }
}

/*sticky footer*/
html {
  height: 100%;
}

body {
  min-height: 100%;
  /*display: grid;
  grid-template-rows: 1fr auto;*/
  font-size: 14px;
  font-family: 'Tahoma', sans-serif;
}

#site-footer {
  /* grid-row-start: 2;
   grid-row-end: 3;*/
}

/*-------*/

.social-links {
  margin: 0;
  padding: 0;
  font-size: 0;

  li {
    display: inline-block;
    list-style: none;
    line-height: 0;
    margin-right: 11px;

    a {
      display: inline-block;
      border-bottom: none;
      text-decoration: none;
    }

    .ico-wh {
      background: url('../images/whatsapp-glyph-green.svg') 0 0 no-repeat;
      background-size: contain;
      width: 20px;
      height: 20px;
    }

    .ico-vb {
      background: url('../images/viber.svg') 0 0 no-repeat;
      background-size: contain;
      width: 20px;
      height: 20px;
    }

    .ico-tg {
      background: url('../images/telegram.svg') 0 0 no-repeat;
      background-size: contain;
      width: 20px;
      height: 20px;
    }
  }
}

.form {
  .header {
    font-size: 26px;
    font-family: $rubik-medium;
    margin-bottom: 15px;
  }

  input[type=text] {

  }

  textarea {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    width: 370px;
    height: 150px;
    font-size: 15px;
    line-height: 18px;
    color: #7f7f7f;
    margin-bottom: 17px;
    border: 1px solid #ccc;
    padding: 20px;
  }

  label {
    display: block;
    white-space: normal;
    margin-bottom: 10px;
  }

  input[type=radio], .wpcf7-list-item-label {
    font-family: $rubik-medium;
  }
}

div.wpcf7 .ajax-loader {
  margin: 17px 0 0 4px;
  position: absolute;
  right: 150px;
}

input[type=submit] {
  padding: 12px 23px;
  text-align: center;
  border: 2px solid $blue;
  border-radius: 30px;
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  transition: 0.2s all;
  background: $blue;
  color: #fff;
  cursor: pointer;
  &:hover {
    background: $blue-hover;
    color: #fff;
    transition: 0.2s all;
  }
}

.form p {
  margin: 0;
}

.ico-tel {
  position: relative;
  color: #000;
  font-size: 20px;
  text-decoration: none;
  margin: 7px 25px 0 0;
  padding-left: 20px;
  border-bottom: none;
  &:before {
    @extend .pseudo;
    width: 14px;
    height: 14px;
    background: url('../images/ico-tel.svg') 0 0 no-repeat;
    background-size: 14px 14px;
    left: 0;
    top: 6px;
  }
}

h2 {
  font-weight: normal;
  font-family: $rubik-medium;
  font-size: 18px;
  line-height: 22px;
}

.flex-w {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.flex2-3 {
  width: 66%;
  max-width: 66%;
  flex: 2 1 66%;
  flex-direction: column;
  position: relative;
}

.flex1-3 {
  width: 33%;
  max-width: 33%;
  flex: 1 1 33%;
  flex-direction: column;
  position: relative;
}

.flex1-2 {
  width: 50%;
  max-width: 50%;
  flex: 1 1 50%;
  flex-direction: column;
  position: relative;
}

.center {
  text-align: center;
}

.map {
  margin-bottom: 40px;
  position: relative;
  iframe {
    height: 480px;
    width: 100% !important;
    z-index: 1;
    border-radius: 5px;
  }
}

.entry-content {
  em, i {
    font-style: normal;
    background: rgba(#FF9D00, 0.3);
  }

  b, strong {
    font-weight: normal;
    font-family: $rubik-medium;
  }

  ul {
    margin: 0 0 0 40px;
    padding: 0;
    li {
      font-size: inherit;
      position: relative;
    }
  }

  ol {
    padding-left: 35px;
  }

  ol li {
    position: relative;
    font-size: inherit;
    line-height: 27px;

    b, strong {
      font-weight: normal;
      font-family: $rubik-medium;
      font-size: inherit;
    }
  }
}

.post-edit-link, nav.pagination-single {
  display: none;
}

.flex-c-w-1-2 {
  min-width: 50%;
}

.flex-c-w-1-3 {
  width: 33%;
  min-width: 33%;
}

.flex-c-w-2-3 {
  width: 66%;
  min-width: 66%;
}

.flex-c-w-1-6 {
  width: 15%;
  min-width: 15%;
}

.spacer {
  display: inline-block;
  width: 20px;
}

.content {
  h1 {
    font-weight: normal;
    font-family: $rubik-bold;
    font-size: 23px;
    line-height: 28px;
    margin-top: 0;
  }
}

.flex-c-w-1-3 {
  padding: 0 25px 25px;
  border-left: 1px solid #ccc;
}

.cell1, .cell4 {
  padding-left: 0;
  border-left: 0;
}

span.wpcf7-not-valid-tip {
  display: none;
}

.form {
  input.wpcf7-not-valid {
    border-color: red;
  }
  .wpcf7-response-output {
    max-width: 670px;
  }
}

.map .form {
  .wpcf7-response-output {
    max-width: 200px;
    position: absolute;
    margin: 0;
    right: 50px;
    bottom: 50px;
    font-size: 12px;
    line-height: 16px;
  }
}

.showonhover {
  opacity: 0;
  transition: all 0.2s;
}

.services-block .li-content:hover {
  .showonhover {
    opacity: 1;
    transition: all 0.2s;
  }
}

.fancybox-inner {
  .form .wpcf7-response-output {
    max-width: 354px;
  }
}

.fancybox-slide--html .fancybox-close-small {
  svg {
    display: none;
  }
  width: 29px;
  height: 29px;
  background: url('../images/cross.svg') 0 0 no-repeat;
  background-size: contain;
  right: 15px !important;
  top: 15px !important;
}

.wrapper {
  position: relative;
  z-index: 6;
}

.all-pages-oval {
  display: block;
}

body.home {
  .all-pages-oval {
    display: none;
  }
}

.grad-curved {
  width: 100%;
  overflow: hidden;
  img {
    max-width: 100%;
  }
}

.contact-block {
  .line {
    flex-direction: column;
    margin-top: 25px;
    font-size: 15px;
    margin-bottom: 10px;
    .ico-tel {
      font-size: 15px;
      font-weight: bold;
      margin: 0 0 15px;
      a {
        text-decoration: none;
        border-bottom: none;
        color: #231f20;
        font-weight: bold;
        font-size: 15px;
      }
      &:before {
        top: 4px;
      }
    }
    .ico-mail {
      margin: 15px 0;
      position: relative;
      padding-left: 27px;
      a {
        text-decoration: none;
        border-bottom: none;
        font-weight: bold;
        color: #231f20;
      }
      &:before {
        @extend .pseudo;
        background: url('../images/ico-mail.svg') 0 0 no-repeat;
        background-size: contain;
        width: 17px;
        height: 13px;
        position: absolute;
        left: 0;
        top: 5px;
      }
    }
    .ico-map {
      position: relative;
      padding-left: 25px;
      span {
        display: block;
      }
      &:before {
        @extend .pseudo;
        background: url('../images/ico-map.svg') 0 0 no-repeat;
        background-size: contain;
        width: 11px;
        height: 17px;
        position: absolute;
        left: 0;
        top: 2px;
      }
    }
  }
  .b3 {
    margin-bottom: 5px;
  }
}

@import "_scss/_button.scss";
@import "_scss/_form.scss";
@import "_scss/_support.scss";
@import "_scss/_header.scss";
@import "_scss/_homepage.scss";
@import "_scss/_uniqpage.scss";
@import "_scss/_blog.scss";
@import "_scss/_footer.scss";

.pages-page_steps {
  padding-top: 0;
}

body.page-template .home-page_bot__contact-block {
  margin-top: 20px;
}

body.home .grad-curved {
  display: none;
}

.oval {
  display: none;
}

.oval3 {
  line-height: 0;
}

.inner-page-service .pages-page_steps,
.page-inner-2 .servicepage2-oval + .pages-page_steps {
  padding-top: 0;
}

.service-vars {
  margin-bottom: 0;
}

.page-template-category-2 {
  .content {
    position: relative;
    z-index: 3;
  }
  .pages-page_steps {

  }
}

.post-template-cases {
  .grad-curved {
    margin-bottom: -60px;
  }
}

body.home .home-page_bot__contact-block {
  margin-top: 0;
}

.ico-tel.top-tel {
  display: none;
}

#site-header .social-links {
  display: none;
}

.color-bg.hb-inner {
  .wwtop {
    header {
      margin-top: 15px;
      width: 100%;
    }
    .desc p {
      width: 100%;
    }
    .wwtop_l {
      float: none;
      width: 100%;
    }
    .slide-pic {
      width: 100%;
      top: 0;
      margin-bottom: 0;
      float: none;
      img{
        margin-top: -20px;
      }
    }
  }
}
#site-header{
  .thinscreen{
    display: inline-block;
    position: relative;
    &:hover, &:active{
      border: inherit;
      background: url(../images/mob_phone.svg) 0 0 no-repeat;
      background-size: contain;
      padding: inherit;
    }
    &.active .social-links{
      position: absolute;
      display: inline-block;
      right: -5px;
      top: -7px;
      padding: 12px 5px 5px;
      background: #fff;
      box-shadow: 0 0 5px rgba(#000,0.1);
      border-radius: 25px;
      li{
        margin-right: 0;
        margin-bottom: 3px;
      }
      li .ico-wh{
        width: 25px;
        height: 25px;
      }
      li .ico-vb{
        width: 25px;
        height: 25px;
      }
    }
  }
  .widescreen{
    display: none;
  }
}

.top-cross{
  width: 25px;
  height: 16px;
  position: relative;
  &:before{
    content: '';
    display: block;
    position: absolute;
    transform: rotate(45deg);
    top: 8px;
    left: 0;
    width: 25px;
    height: 2px;
    background: #58595b;
    transition: 0.3s all;
  }
  &:after{
    content: '';
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    bottom: 6px;
    left: 0;
    width: 25px;
    height: 2px;
    background: #58595b;
    transition: 0.3s all;
  }
}

@import "_scss/_media_414.scss";
@import "_scss/_media_668.scss";
@import "_scss/_media_810.scss";



