.btn {
  padding: 12px 23px;
  text-align: center;
  border: 2px solid $blue;
  background: #fff;
  border-radius: 30px;
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  font-family: $rubik-medium;
  transition: 0.2s all;
  &:hover {
    background: $blue;
    color: #fff;
    transition: 0.2s all;
  }

  &.btn-blue {
    background: $blue;
    color: #fff;
    &:hover {
      background: $blue-hover;
      color: #fff;
      transition: 0.2s all;
    }
  }

  &.large {
    font-size: 17px;
    padding: 15px 33px;
  }
}

.btn-phone{
  width: 44px;
  height: 44px;
  background: url('../images/ico-tel-blue.svg') center center no-repeat;
  background-size: 14px 14px;
  &:hover{
    background: url('../images/ico-tel-white.svg') center center no-repeat #16A2E5;
    background-size: 14px 14px;
  }
}
