.homepage-slider {
  .owl-carousel .owl-stage-outer {
    padding-bottom: 50px;
  }
}

.owl-carousel .owl-item img {
  width: auto;
}

.color-bg {
  .in {
    height: 100%;
  }
  .inner {
    padding: 160px 92px 0;
  }
  header {
    color: #fff;
    font-size: 55px;
    font-family: $rubik-bold;
    width: 65%;
    line-height: 1;
    margin-bottom: 25px;
  }
  .desc {
    font-size: 25px;
    width: 55%;
    color: #fff;
    margin-bottom: 25px;
  }
  img {
    position: absolute;
    right: 152px;
    bottom: -50px;
  }
}

.hb-pink {
  background: url('../images/header-pink.png') center 0 no-repeat;
  background-size: cover;
  height: 493px;
  width: 100%;
}

.hb-darkblue {
  background: url('../images/header-darkblue.png') center 0 no-repeat;
  background-size: cover;
  height: 493px;
  width: 100%;
}

.hb-blue {
  background: url('../images/header-blue.png') center 0 no-repeat;
  background-size: cover;
  height: 493px;
  width: 100%;
}

.homepage-slider {
  position: relative;
}

.owl_custom_nav {
  position: absolute;
  width: 45px;
  height: 45px;
  cursor: pointer;
  opacity: 0.4;
  &:hover {
    opacity: 1;
  }
}

.customPreviousBtn {
  top: 250px;
  left: 60px;
  z-index: 9999;
  background: url('../images/arr-prev.svg') 0 0 no-repeat;
  background-size: contain;
}

.customNextBtn {
  top: 250px;
  right: 60px;
  z-index: 9999;
  background: url('../images/arr-next.svg') 0 0 no-repeat;
  background-size: contain;
}

.howto {
  /*синий бг тут*/
}

.home-page_howto {

}

.consul-block {
  max-width: 467px;
  width: 467px;
  .footer{
    background: #3559a3;
    border-radius: 0 0 12px 12px;
    padding: 22px 27px 27px;
    color: #fff;
    .header{
      font-size: 24px;
      font-family: $rubik;
    }
    .desc{
      font-size: 16px;
      margin-bottom: 15px;
    }
    input[type=submit]{

    }
  }
}
.consul-block__head {
  position: relative;
  background: url('../images/consul-bg.png') center 0 no-repeat;
  background-size: auto;
  padding: 24px 20px 20px 240px;
  min-height: 193px;
  border-radius: 12px 12px 0 0;
  &:before{
    @include pseudo-image("../images/consul.png", 187, 213, 20, -20);
  }
  .consul-block__title {
    display: inline-block;
    font-size: 9px;
    font-weight: bold;
    background: #fcd772;
    padding: 6px 18px 5px;
    border-radius: 12px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }
  .consul-block__name {
    margin-top: 5px;
    color: #fff;
    font-size: 24px;
    font-family: $rubik-medium;
  }
  .consul-block__desc {
    margin-top: 1px;
    font-size: 16px;
    color: #fff;
  }
}



#portamento_container {

  position:relative;
}

#portamento_container #sidebar {
  float:none;
  position:absolute;
}

#portamento_container #sidebar.fixed {
  position:fixed;
}


.chessmate{
  .ltr, .rtl{
    display: flex;
    .left, .right{
      width: 50%;
    }
  }
  .right{
    justify-content: center;
    display: flex;
    flex-direction: column;
    a.btn{
      align-self: flex-start;
    }
  }
  .header{
    font-size: 27px;
    line-height: 34px;
    font-family: $rubik-medium;
    margin-bottom: 20px;
    margin-top: 40px;
  }
  .desc{
    font-size: 17px;
    margin-bottom: 20px;
  }
}

.home-page_howto{
  padding-top: 250px;
  position: relative;
  top: -220px;
  margin-bottom: -220px;
  background: url('../images/hpbg.jpg') repeat;
}

.home-page_howto-footer{
  position: relative;
  top: -50px;
  z-index: -1;
  background: url("/wp-content/themes/csm/assets/images/homepage-bg-footer-21.svg") center bottom no-repeat;
  background-size: cover;
  width: 100%;
  height: 167px;
}


.counts{
  padding-top: 20px;
  .count{
    position: relative;
  }
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .desc{
    font-weight: bold;
    font-size: 19px;
    max-width: 330px;
    position: absolute;
    top: 11px;
  }
  .number{
    font-family: $rubik-light;
    font-size: 140px;
    color: #dc325a;
    position: relative;
    margin-bottom: -110px;
  }
  .pic{
    position: relative;
    margin-left: 50px;
  }
  .count_2{
    .desc{
      top: -17px;
    }
    .pic{
      margin: 10px 0 0 60px;
    }
  }
  .count_3{
    .pic{
      margin: 0 0 0 60px;
    }
  }
}

.sotrud{
  margin-top: -100px;
  background: rgb(30,49,126);
  background: -moz-linear-gradient(0deg, rgba(30,49,126,1) 10%, rgba(30,182,233,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(30,49,126,1) 10%, rgba(30,182,233,1) 100%);
  background: linear-gradient(0deg, rgba(30,49,126,1) 10%, rgba(30,182,233,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1e317e",endColorstr="#1eb6e9",GradientType=1);
  position: relative;
  z-index: 2;
  &:before{
    @extend .pseudo;
    background: url('../images/bluebubble-25.png') repeat;
    opacity: .2;
    left: 0; right: 0; top: 0; bottom: 0;
    z-index: -1;
  }
}

.oval{
  background: url('../images/whitecurved.svg') center 0 no-repeat;
  height: 110px;
  width: 100%;
  position: relative;
  z-index: 3;
}
.sotrud__bottom {
  background: url('../images/sotrud_bottom-27.png') center 0 no-repeat;
  height: 229px;
  width: 100%;
  position: relative;
  z-index: 0;
  margin-top: -200px;
}
.home-page_steps{
  background: url("../images/hpbg.jpg") repeat;
}

.sotrud{
  padding-top: 5%;
  .in{
    position: relative;
    z-index: 1;
  }
  h3{
    color: #fff;
    font-size: 45px;
    font-family:$rubik-medium;
    text-align: center;
    font-weight: normal;
    margin-bottom: 15px;
  }
  p{
    text-align: center;
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
    span{
      display: block;
    }
  }
}

.sotrud_triple{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.sotrud_triple_block{
  background: #fff;
  border: 2px solid #b0daf5;
  border-radius: 14px;
  padding-bottom: 50px;
  margin: 200px 15px 0;
  flex: 1 1 0;
  .pic{
    position: relative;
    top: -170px;
    text-align: center;
    margin-bottom: -170px;
  }
  .head{
    font-size: 25px;
    font-family: $rubik-medium;
    color: #dc325a;
    padding: 0 60px;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 20px;
  }
  .desc{
    font-size: 17px;
    padding: 0 60px;
  }
}

.home-page_steps{
  padding-top: 30px;
  padding-bottom: 60px;
  h3{
    font-family: $rubik-medium;
    font-size: 45px;
    font-weight: normal;
    margin-top: 0;
  }

}
.steps{
  display: flex;
  flex-direction: column;
  .step{
    width: 20%;
  }
  .line1, .line2, .line-bubble{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
    .line1{
      .head{

      }
    }
    .line-bubble{
      text-align: center;
      position: relative;
      &:before{
        @extend .pseudo;
        width:80%;
        margin-left:10%;
        margin-right:10%;
        height: 6px;
        background: #fff;
        margin-top: 7px;
      }
      .step{
        position: relative;
        z-index: 1;
      }
    }
  .head{
    font-family: $rubik-medium;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 15px;
    padding-top: 25px;
  }
  .desc{
    font-size: 16px;
  }
  .bubble{
    border: 6px solid #9fd5f1;
    width: 21px;
    height: 21px;
    background: #fff;
    border-radius: 50%;
    display: inline-block;
  }
  .pic{
    text-align: center;
    padding: 23px 0;
  }
}

.megaoval{
  background: rgb(40,49,124);
  background: -moz-linear-gradient(0deg, rgba(40,49,124,1) 0%, rgba(30,85,155,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(40,49,124,1) 0%, rgba(30,85,155,1) 100%);
  background: linear-gradient(0deg, rgba(40,49,124,1) 0%, rgba(30,85,155,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#28317c",endColorstr="#1e559b",GradientType=1);
  border-radius: 270px;
  height: 464px;
  width: 100%;
  padding: 0 110px 0;
  transform: rotate(-2deg);
  &:before{
    @extend .pseudo;
    background: url(../images/bluebubblebig-32.png) 0 0 repeat;
    border-radius: 270px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    opacity: 0.7;
  }
  .inner{
    transform: rotate(2deg);
    position: relative;
    z-index: 2;
  }
}

.home-page_bot__contact-block{
  margin-top: 100px;
  margin-bottom: -300px;
  .consul-block__head{
    background: none;
    width: 600px;
    margin: 0 auto -29px;
    padding: 105px 0 20px 290px;
    position: relative;
    top: -49px;
  }
  .consul-block__head:before{
    background: url('../images/consul-big-31.png') 0 0 no-repeat;
    background-size: 228px 255px;
    width: 228px;
    height: 255px;

  }
  .consul-block__title{
    font-size: 10px;
  }
  .consul-block__name{
    font-size: 26px;
  }
  .consul-block__desc{
    font-size: 17px;
  }
}

.consul_form{
  width: 930px;
  padding: 45px 113px 30px;
  background: #3559a3;
  border-radius: 15px 15px 0 0;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  .head{
    font-size: 26px;
    font-family: $rubik-medium;
    color: #fff;
    margin-bottom: 40px;
  }
}

.consul_form_bottom{
  height: 57px;
  width: 930px;
  margin: -16px auto;
  transform: rotate(-2deg) skewX(-2deg);
  background: rgb(35,65,130);
  background: -moz-linear-gradient(1deg, rgba(35,65,130,1) 0%, rgba(53,89,163,1) 60%);
  background: -webkit-linear-gradient(1deg, rgba(35,65,130,1) 0%, rgba(53,89,163,1) 60%);
  background: linear-gradient(1deg, rgba(35,65,130,1) 0%, rgba(53,89,163,1) 60%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#234182",endColorstr="#3559a3",GradientType=1);}


