.divide-2-1{
  display: flex;
  flex-direction: row;
}
  .divide-2-1_left{
    width: 66%;
    margin-right: 2%;
  }
  .divide-2-1_right{
    width: 32%;
  }

  .rtl{
    flex-direction: row-reverse;
  }

.blocks > div a{
  display: block;
  color: inherit;
  border: none;
  padding: 35px;
  height: 100%;
}

.flex4{
  justify-content: center;
  &>div{
    width: 23%;
    border: 2px solid #b0daf5;

    margin: 0 1%;
    border-radius: 12px;
  }
}
.flex3{
  justify-content: space-around;
  &>div{
    width: 25%;
    border: 2px solid #b0daf5;
    margin: 0 2%;
    border-radius: 12px;
  }
}

.breadcrumbs{
  border: 2px solid rgba($blue,0.5);
  border-radius: 20px;
  padding: 2px 20px 6px;
  display: inline-block;
  ul{
    margin: 0;
    padding: 0;
    li{
      list-style: none;
      display: inline-block;
      font-size: 14px;
      line-height: 14px;
      position: relative;
      padding-right: 26px;
      color: #58595b;
      &:after{
        @extend .pseudo;
        background: url('../images/bc_arr.svg') 0 0 no-repeat;
        background-size: cover;
        width: 6px;
        height: 9px;
        right: 6px;
        top: 3px;
      }
      a{
        font-size: 14px;
        line-height: 14px;
        color: $blue;
        border-bottom-color: rgba($blue,0.4);
      }
      &:last-child{
        padding-right: 0;
        &:after{
          display: none;
        }
      }
    }
  }
  &+header{
    margin-top: 25px;
  }
}

.yellow_hint{
  display: inline-block;
  font-size: 9px;
  font-weight: bold;
  background: #fcd772;
  padding: 6px 18px 5px;
  border-radius: 12px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.pagenavi_w{
  background: #fff;
  border: 2px solid #b0daf5;
  border-radius: 10px;
  text-align: center;
  display: block;
  padding: 25px 0 35px;
  .heading{
    font-size: 20px;
    margin-bottom: 20px;
  }
}

.wp-pagenavi{
  display: flex;
  align-items: center;
  justify-content: center;
  .pages{
    display: none;
  }
  .page{
    border: 2px solid #fff;
    border-radius: 50%;
    background: #eff8fd;
    padding: 10px;
    min-width: 42px;
    display: inline-block;
    margin: 0 4px;
    color: $blue;
    font-weight: bold;
    font-size: 14px;
  }
  .current{
   border: 2px solid #16a2e5;
    border-radius: 50%;
    background: #fff;
    padding: 10px;
    min-width: 42px;
    display: inline-block;
    margin: 0 5px;
    color: $blue;
    font-weight: bold;
    font-size: 14px;
  }
  .nextpostslink{
    background: url('../images/pagenavi.svg') 0 0 no-repeat;
    width: 25px;
    height: 18px;
    font-size: 0;
    display: inline-block;
    border-bottom: none;
    margin-left: 5px;
  }
  .previouspostslink{
    background: url('../images/pagenavi.svg') 0 0 no-repeat;
    width: 25px;
    height: 18px;
    font-size: 0;
    display: inline-block;
    border-bottom: none;
    margin-right: 5px;
    transform: rotate(180deg);
  }
}
